<div class="card">
    <div class="card-header">
        Sign Up
    </div>

    <div class="card col-6 d-flex">

        <div class="card-body">
            <form id="signup-form">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
                    <div class="form-text">It should be an unique username</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                    <div class="form-text">It should be more than 8 characters</div>
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>

            </form>
            <a href="/login">Log in instead</a>
        </div>

    </div>
</div>

<script src="/js/signUp.js"></script>