<form id="post-form" class="col-6 m-3" data-id="{{post.id}}">
        <label for="text-box">Title</label>
        <textarea class="form-control mb-3" placeholder="Title goes here" id="title">{{post.title}}</textarea>
        
        <div class="form-floating">
            <textarea class="form-control" placeholder="Content goes here" id="content" style="height: 100px">{{post.body}}</textarea>
            <label for="text-box">Content</label>
        </div>
        <div class="d-grid gap-2">
            <button id="update-btn" class="btn btn-primary m-3">Update</button>
            <button id="delete-btn" class="btn btn-danger">Delete</button>
        </div>
</form>

<script>
    const postId = document.getElementById('post-form').getAttribute('data-id')
    const updateBtn = document.getElementById('update-btn')
    const deleteBtn = document.getElementById('delete-btn')
    const title = document.getElementById('title')
    const content = document.getElementById('content')

    updateBtn.addEventListener('click', async function(event){
        const bodyObj = {
            title: title.value,
            body: content.value
        }

        const response = await fetch(`/api/blogs/${postId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bodyObj)
        })

        if(response.ok){
            window.location.href = '/dashboard'
        }else{
            const json = await response.json()
            console.log(json)
        }
    })

    deleteBtn.addEventListener('click', async function(event){
        console.log('delete button hit')
        const response = await fetch(`/api/blogs/${postId}`, {
            method: 'DELETE'
        })

        if(response.ok){
            window.location.href = '/dashboard'
            console.log('response ok')
        }else {
            const json = await response.json()
            console.log(json)
        }
    })
</script>